
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row centered">
    <h3 class="text-primary">Project : Small Business Management System</h3>
    <h4 class="text-info">Technology : ASP.NET MVC, Entity Framework</h4>
    <h4 class="text-success">Batch : 06 || Group : Recycle Bin</h4>
    <hr/>
</div>
<!-- WEATHER-2 PANEL -->
<div class="col-lg-3 col-md-3 col-sm-3 mb">
    <div class="weather-2 pn" style="height: 350px">
        <div class="weather-2-header">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <p>Team Leader</p>
                </div>
                <div class="col-sm-6 col-xs-6 goright">
                    <p>Recycle Bin</p>
                </div>
            </div>
        </div>
        <!-- /weather-2 header -->
        <div class="row centered">
            <img src="~/Theme/img/mehedi.jpg" class="img-circle" width="120" height="140">
        </div>
        <div class="row centered"><h3 class="text-primary">MD. MEHEDI HASAN</h3></div>
        <div class="row centered"><h5 class="text-primary">ASP.NET DEVLOPER</h5></div>
        <div class="row centered"><h5 class="text-primary">Diploma-in-Engineering <br/>in<br/> Computer Technology</h5></div>

    </div>
</div>
<!-- /col-md-4 -->
<!-- WEATHER-3 PANEL -->
<!-- WEATHER-2 PANEL -->
<div class="col-lg-3 col-md-3 col-sm-3 mb">
    <div class="weather-2 pn" style="height: 350px">
        <div class="weather-2-header">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <p>Team Member</p>
                </div>
                <div class="col-sm-6 col-xs-6 goright">
                    <p>Recycle Bin</p>
                </div>
            </div>
        </div>
        <!-- /weather-2 header -->
        <div class="row centered">
            <img src="~/Theme/img/dipu.png" class="img-circle" width="120" height="120">
        </div>
        <br />
        <div class="row centered"><h3 class="text-primary">Dwaipawan Mandal</h3></div>
        <div class="row centered"><h5 class="text-primary">ASP.NET DEVLOPER</h5></div>
        <div class="row centered"><h5 class="text-primary">BSc in CSE</h5></div>

    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 mb">
    <div class="weather-2 pn" style="height: 350px">
        <div class="weather-2-header">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <p>Team Member</p>
                </div>
                <div class="col-sm-6 col-xs-6 goright">
                    <p>Recycle Bin</p>
                </div>
            </div>
        </div>
        <!-- /weather-2 header -->
        <div class="row centered">
            <img src="~/Theme/img/shwetaBarai.jpg" class="img-circle" width="120">
        </div>
        <br/>
        <div class="row centered"><h3 class="text-primary">Shrobana Barai Shweta</h3></div>
        <div class="row centered"><h5 class="text-primary">ASP.NET DEVLOPER</h5></div>
        <div class="row centered"><h5 class="text-primary">BSc in CSE</h5></div>

    </div>
</div>
<!-- /col-md-4 -->
<!-- WEATHER-3 PANEL -->

<div class="col-lg-3 col-md-3 col-sm-3 mb">
    <div class="weather-2 pn" style="height: 350px">
        <div class="weather-2-header">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <p>Team Member</p>
                </div>
                <div class="col-sm-6 col-xs-6 goright">
                    <p>Recycle Bin</p>
                </div>
            </div>
        </div>
        <!-- /weather-2 header -->
        <div class="row centered">
            <img src="~/Theme/img/paramitaShaha.jpg" class="img-circle" width="120">
        </div>
        <br/>
        <div class="row centered"><h3 class="text-primary">Paramita Saha</h3></div>
        <div class="row centered"><h5 class="text-primary">ASP.NET DEVLOPER</h5></div>
        <div class="row centered"><h5 class="text-primary">BSc in CSE</h5></div>

    </div>
</div>

